# Exportar resultados resumen

In [ ]:
# Reimportar paquetes tras reinicio
import pandas as pd

# Reconstrucci√≥n de los DataFrames para exportar a Power BI

# Tabla 1: Segmentaci√≥n de clientes
segmentacion = pd.DataFrame({
    "Cluster": [0, 1, 2, 3],
    "Descripci√≥n": [
        "Familias j√≥venes, bajo ingreso",
        "Clientes digitales premium",
        "Ultra exclusivos por cat√°logo",
        "Adultos mayores multicanal"
    ],
    "Edad promedio": [52, 58, 52, 59],
    "Ingreso promedio": [28186, 75544, 221604, 51681],
    "Tasa de compra (%)": [11.63, 23.50, 0.0, 10.30],
    "Recomendaci√≥n": [
        "Baja prioridad",
        "üéØ Objetivo principal",
        "Excluir por baja muestra",
        "Target secundario"
    ]
})

# Tabla 2: Simulaci√≥n ROI
roi_simulacion = pd.DataFrame({
    "Umbral": [0.30, 0.35, 0.40, 0.45, 0.50],
    "Contactados": [54, 51, 51, 50, 44],
    "Compraron (TP)": [35, 35, 35, 34, 31],
    "No compraron (FP)": [19, 16, 16, 16, 13],
    "Ingreso Estimado (MU)": [1714.30, 1714.30, 1714.30, 1665.32, 1518.38],
    "Costo Estimado (MU)": [162, 153, 153, 150, 132],
    "ROI Estimado (MU)": [1552.30, 1561.30, 1561.30, 1515.32, 1386.38],
    "Recomendaci√≥n": [
        "Aceptable, mayor alcance",
        "‚úÖ Recomendado ‚Äì mejor ROI",
        "Alternativa equivalente",
        "Menor beneficio",
        "Mayor precisi√≥n, menos alcance"
    ]
})

# Guardar en Excel para Power
output_path = "../results/powerbi_caso_ds.xlsx"
with pd.ExcelWriter(output_path, engine='xlsxwriter') as writer:
    segmentacion.to_excel(writer, sheet_name="Segmentacion", index=False)
    roi_simulacion.to_excel(writer, sheet_name="Modelo_y_ROI", index=False)

output_path

'../results/powerbi_caso_ds.xlsx'

In [5]:
clustering = pd.read_excel("../results/clustering.xlsx")
clustering.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   datetime64[ns]
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Response             2240 non-null   int64
 27  Age                  2240 non-null   int64
 28  Customer_Tenure      2240 non-null   int64
 29  TotalSpent           2240 non-null   int64
 30  Cluster              2240 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(27), object(2)
memory usage: 542.6+ KB

In [10]:
scoring = pd.read_excel("../results/scoring.xlsx")
scoring = scoring[['ID','Score']]
scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      2240 non-null   int64
 1   Score   2240 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 35.1 KB

In [12]:
df_clustering_scoring = clustering.merge(scoring, how='left', on='ID')
df_clustering_scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   datetime64[ns]
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Response             2240 non-null   int64
 27  Age                  2240 non-null   int64
 28  Customer_Tenure      2240 non-null   int64
 29  TotalSpent           2240 non-null   int64
 30  Cluster              2240 non-null   int64
 31  Score                2240 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(27), object(2)
memory usage: 560.1+ KB

In [13]:
df_clustering_scoring.to_csv('../results/df_clustering_score.csv')